@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #5e7ef0;
  --secondary-color: #1c44d3;
  --white-color: #ffffff;
  --black-color: #080a10;
  --dark-color: #0e1721;
  --navy-color: #16293f;
  --grey-color: #a3b5c6;

  /* Linear Gradients Colours */
  --lightblue--color: #85c1fc;
  --darkblue--color: #5f7ff0;
}

body {
  background: var(--black-color);
  font-family: "Lab Grotesque", sans-serif !important;
}

body,
html {
  font-size: 62.5%;
}

/* Fonts */
@import url(https://db.onlinewebfonts.com/c/5f4cf05e3d14b070a09eff0243790d58?family=Lab+Grotesque);

/* Typography */

h1 {
  font-size: 3.2rem !important;
  line-height: 1.3 !important;

  @media (min-width: 640px) {
    font-size: 4.4rem !important;
  }
}

h2 {
  font-size: 2.4rem !important;
  line-height: 1.3 !important;

  @media (min-width: 640px) {
    font-size: 3rem !important;
  }
}

h3 {
  font-size: 2rem !important;
  line-height: 1.3 !important;

  @media (min-width: 640px) {
    font-size: 2.4rem !important;
  }
}

h4 {
  font-size: 1.6rem !important;
  line-height: 1.3 !important;

  @media (min-width: 640px) {
    font-size: 1.8rem !important;
  }
}

p {
  color: var(--grey-color);
  font-size: 1.4rem !important;
  line-height: 1.3 !important;
}

/* Button Styles */

.btn {
  color: var(--white-color) !important;
  padding: 12px 35px;
  border-radius: 50rem;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 1.4rem;
}

.btn-primary {
  background-color: var(--primary-color) !important;
}

.btn-primary:hover {
  background-color: var(--secondary-color) !important;
}

.btn-white {
  color: var(--black-color) !important;
  background-color: var(--white-color) !important;
}

.btn-white:hover {
  color: var(--white-color) !important;
  background-color: var(--black-color) !important;
}

.btn-black {
  background-color: var(--black-color) !important;
}

.btn-black:hover {
  background-color: var(--secondary-color) !important;
}

.btn-plain:hover {
  text-decoration: underline;
}

.link {
  transition: all 0.3s;
}

.link:hover {
  text-decoration: underline !important;
}

.link:active {
  text-decoration: underline;
}

/* Containers */
.container {
  max-width: 1316px !important;
  margin: 0 auto;
}

/* Header */

nav a {
  color: var(--white-color);
  font-size: 1.4rem !important;
  font-weight: 400;
}

.desktop-nav {
  display: none;

  @media (min-width: 640px) {
    display: flex;
  }
}

.mobile-nav {
  display: flex;

  @media (min-width: 640px) {
    display: none;
  }
}

/* Footer */
